@import '~bootstrap/scss/bootstrap';
@import '~dropzone/src/dropzone';
@import '~@fontsource/roboto';

body {
  font-family: 'Roboto', sans-serif;
  color: #5f6982;
}

.title {
  font-size: 26px;
  color: #454cad;
  text-align: center;
}

#upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  padding: 4rem 1.5rem;
  cursor: pointer;
}

#upload-form:hover, #upload-form.hover {
  border-color: #454cad;
}

#upload-form .dz-message {
  margin: 0;
}

#upload-form input[type=file] {
  display: none;
}

#files-table {
  max-width: 1000px;
  margin: 0 auto;
}

#files-table td {
  vertical-align: middle;
}

#files-table td:nth-child(1) {
  width: 30%;
}

#files-table td:nth-child(2) {
  text-align: right;
}

#files-table td:nth-child(3) {
  width: 20%;
}

#files-table td:nth-child(2) {
  width: 15%;
}

#files-table td:nth-child(5), #files-table td:nth-child(6) {
  width: 10%;
}

#files-table .progress-bar {
  width: 100%;
}

#files-table a {
  text-decoration: none;
  color: #000;
}

#files-table a:hover {
  color: #454cad;
}
